.container {
  margin-bottom: 3rem;
}

.iconContainer {
  position: relative;

  img {
    pointer-events: none;
    user-select: none;

    aspect-ratio: 1;
    width: 200px;

    object-fit: contain;
  }
}

.backIcon {
  position: absolute;
  z-index: -1;
  transform: scale(1.1);
  filter: blur(50px) brightness(1.6);
}

.temp {
  margin-bottom: 0.5rem;

  font-size: 6rem;
  font-weight: 700;
  line-height: 4rem;
  line-height: 1;
}

.state {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
}
