.details {
    display: flex;
    justify-content: space-around;
}

.itemTitle {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.itemContent {
    line-height: calc(2.25 / 1.875);
}

.itemValue {
    font-size: 1.875rem;
    font-weight: 600;
}