.header {
  position: sticky;
  top: 0;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  margin-bottom: 0.75rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;

  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);

  background-color: var(--surface-drawer);

  transition: background-color 0.8s ease-in-out;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;

    width: 100%;
    height: 20px;

    background-color: var(--surface-drawer);

    transition: background-color 0.8s ease-in-out;

    mask-image: linear-gradient(180deg, #000, transparent);
  }
}

.headerIcon {
  width: 1rem;
  height: 1rem;
}

.title {
  font-size: inherit;
  font-weight: inherit;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2px;
}

.item {
  cursor: pointer;

  display: flex;
  gap: 0.75rem;
  align-items: center;

  width: 100%;
  padding: 0.875rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.75rem;

  color: white;
  text-align: left;

  background-color: transparent;

  transition: all 0.2s ease;

  &:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.15);

    .itemIcon {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .itemArrow {
      opacity: 1;
    }
  }
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 0.2s ease;
}

.itemInfo {
  flex: 1;
  text-align: left;
}

.itemCity {
  display: block;
  font-weight: 500;
}

.itemMeta {
  display: block;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
}

.itemArrow {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0;
  transition: opacity 0.2s ease;
}
