.container {
  position: relative;

  display: inline-flex;

  height: 2.5rem;
  padding: 4px;
  border: 1px solid var(--glass-border);
  border-radius: var(--radius-pill);

  background-color: var(--glass-bg);
  backdrop-filter: blur(4px);

  &:has(.input[value="imperial"]:checked) .bg {
    transform: translateX(100%);
  }
}

.bg {
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 4px;

  aspect-ratio: 1 / 1;
  height: calc(100% - 8px);
  border-radius: 50%;

  background-color: #fff;

  transition: transform 0.3s ease;
}

.text {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  height: 100%;
  border-radius: 50%;

  font-size: 0.875rem;

  transition: color 0.3s;
}

.input {
  position: absolute;
  appearance: none;

  &:checked+span {
    color: var(--surface-card);
  }
}