* {
    color: rgb(161, 161, 161)!important
}
body {
    background-color: #100E1D;
}

.App {
  text-align: center;
}

.main-weather {
    background-color: #1E213A;
    min-height: 100vh;
    padding: 3rem;
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
}

.search-box {
    background-color: red;
    height: 100vh;
    padding: 3rem;
    position: absolute;
    top: 0;
    transform: translateX(0);
    transition: all 0.3s ease;
}

.search-box.hidden{
    transform: translateX(-100%);
}

.control {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

#btn-close {
    background-color: none;
}

.btn {
    border: none;
}

.btn:hover {
    border: none;
}