@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;900&display=swap");

[data-theme="day"] {
  --bg-color: #52b0fc;
  --sec-bg-color: #3b8bdc;
  --thr-bg-color: #2792f5;
  --search-bg-color: #3886cc;
}

[data-theme="night"] {
  --bg-color: #3a3e4a;
  --sec-bg-color: #2e3139;
  --thr-bg-color: #07101d;
  --search-bg-color: #21232b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #dde6f0;
  font-family: "Heebo", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn {
  border: none;
  color: rgb(240, 240, 240);
  transition: 0.2s;
}

.btn:hover {
  border: none;
}

.widget {
  width: 900px;
  height: 90vh;
  max-height: 700px;
  min-height: 600px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra {
  background-color: #3684ca;
  border-radius: 0 40px 40px 0;
  height: 90%;
  width: 450px;
  right: 200px;
  z-index: -1;
  transform: translateX(-10px);
  padding: 40px;
}

.extra:hover {
  right: 0;
}

@media (max-height: 780px) {
  :root {
    font-size: 14px;
  }

  .widget {
    width: 720px;
  }
}

@media (max-width: 760px) {
  .widget {
    width: 100%;
    position: unset;
  }
}
