.weather-app {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  .weather-widget {
    position: relative;
  }
}

.btn-glass {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  border: 1px solid var(--glass-border);
  border-radius: 12px;

  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-main);

  background-color: var(--glass-bg);
  backdrop-filter: blur(4px);

  transition: all 0.3s ease;

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:hover {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: var(--glass-hover);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--focus-ring);
  }

  &.btn-glass--circle {
    aspect-ratio: 1/1;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border-radius: 50%;
  }

  &.btn-glass--pill {
    padding: 8px 12px;
    border-radius: var(--radius-pill);
  }
}

.input-text {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 9999px;

  font-size: 0.875rem;
  color: #fff;

  background-color: rgba(0, 0, 0, 0.2);

  transition: box-shadow 0.3s;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--focus-ring);
  }
}
