@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;900&display=swap");

[data-theme="day"] {
  --bg-color: #52b0fc;
  --sec-bg-color: #3b8bdc;
  --thr-bg-color: #2792F5;
  --search-bg-color: #3886cc;
}

[data-theme="night"] {
  --bg-color: #3a3e4a;
  --sec-bg-color: #2e3139;
  --thr-bg-color: #07101D;
  --search-bg-color: #21232b;
}

* {
  transform: 0.2s;
  box-sizing: border-box;
}

body {
  background-color: #dde6f0;
  font-family: "Heebo", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.search-box {
  background-color: var(--search-bg-color);
  height: 90%;
  padding: 3rem;
  width: 450px;
  position: relative;
  top: 0;
  transform: translateX(205px);
  transition: 0.3s;
  border-radius: 0 40px 40px 0;
}

.search-box.hidden {
  transform: translateX(20px);
}

.input-group {
  display: flex;
  position: relative;
}

.input-group input {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  padding: 10px 15px;
  color: #fff;
  width: 100%;
}

.input-group input:focus-visible {
  outline: none;
}

.input-group input:focus ~ button {
  background-color: var(--sec-bg-color);
  transform: translate(6px, -6px);
  box-shadow: -10px 10px 20px -5px rgba(0, 0, 0, 0.5);
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-group button {
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 50%;
  height: 38px;
  width: 38px;
}

.control {
  display: block;
  text-align: end;
  margin-bottom: 1rem;
}

#btn-close {
  background-color: none;
}

.btn {
  border: none;
  color: rgb(240, 240, 240);
  transition: 0.2s;
}

.btn:hover {
  border: none;
}

.widget {
  width: 1000px;
  height: 700px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra {
  background-color: #3684ca;
  border-radius: 0 40px 40px 0;
  height: 90%;
  width: 450px;
  right: 200px;
  z-index: -1;
  transform: translateX(-10px);
  padding: 40px;
}

.extra:hover {
  right: 0;
}
