@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap');

@property --surface-shape-start {
	inherits: true;
	initial-value: #46A1F4;
	syntax: '<color>';
}

@property --surface-shape-end {
	inherits: true;
	initial-value: #3A8DD8;
	syntax: '<color>';
}

:root {
	--glass-bg: rgba(255, 255, 255, 0.1);
	--glass-border: rgba(255, 255, 255, 0.2);
	--glass-hover: rgba(255, 255, 255, 0.2);
	--focus-ring: rgba(255, 255, 255, 0.5);

	--text-main: #ffffff;
	--radius-pill: 9999px;
	--radius-card: 40px;

	--surface-card: #57B4FF;
	--surface-shape-start: #46A1F4;
	--surface-shape-end: #3A8DD8;
	;
	--surface-drawer: #3886cc;
	--surface-app: #e6f4ff;

	font-size: 16px;
}

.night {
	--surface-card: #3a3e4a;
	--surface-shape-start: #2e3139;
	--surface-shape-end: #000000;
	--surface-drawer: #21232b;
	--surface-app: #1b1d23;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Geist", sans-serif;
	background-color: #C8D8E7;
}

button,
input {
	border-radius: 0;

	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	color: inherit;
	letter-spacing: inherit;

	opacity: 1;
	background-color: transparent;
}

ol,
ul,
menu {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}