/* .weather-card {
  position: relative;
  z-index: 1;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 450px;
  height: 100%;
  padding: 2rem;
  border-radius: 48px;

  color: white;
  text-align: center;

  background-color: var(--surface-card);
  box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.5);

  transition: transform 0.3s ease, background-color 0.8s ease-in-out;

  &::before {
    pointer-events: none;
    content: "";
    user-select: none;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.2;
    background-image: url(/assets/grain.png);
    background-repeat: round;
    background-size: 100px;
    mix-blend-mode: multiply;
  }

  &.is-shifted {
    transform: translateX(-50%);
  }

  .weather-card__header {
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    .weather-card__actions {
      display: flex;
      gap: 10px;
      align-items: center;

      .location-pill {
        gap: 0.25rem;
        height: 2.5rem;

        .lucide {
          transition: .3s;
        }

        &:hover {
          .lucide {
            transform: translateX(3px);
          }
        }

        .location-pill__text {
          display: flex;

          .location-pill__city {
            overflow: hidden;
            max-width: 150px;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .location-pill__country {
            flex-shrink: 0;
            opacity: 70%;
          }
        }
      }
    }
  }

  .weather-card__main {
    margin-bottom: 3rem;

    .weather-card__icon-container {
      position: relative;

      img {
        pointer-events: none;
        user-select: none;

        aspect-ratio: 1;
        width: 200px;

        object-fit: contain;
      }

      .weather-card__back-icon {
        position: absolute;
        z-index: -1;
        transform: scale(1.1);

        filter: blur(50px);

        animation: bloom 30s ease-in-out infinite;
      }
    }
  }
}

.weather-card__body {
  position: relative;
  width: 100%;


  &::before {
    pointer-events: none;
    content: "";
    user-select: none;

    position: absolute;
    z-index: -1;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 675px;
    height: 100%;
    border-radius: 200vw 200vw 0 0;

    background: linear-gradient(180deg, var(--surface-shape-start), var(--surface-shape-end));

    transition: --surface-shape-start 0.8s ease-in-out, --surface-shape-end 0.8s ease-in-out;
  }
}

.weather-card__temp {
  margin-bottom: 0.5rem;

  font-size: 6rem;
  font-weight: 700;
  line-height: 4rem;
  line-height: 1;
}


.weather-card__state {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
}

.weather-card__details {
  display: flex;
  justify-content: space-around;
}

.detail-item {
  .detail-item__title {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
  }

  .detail-item__content {
    line-height: calc(2.25 / 1.875);
  }

  .detail-item__value {
    font-size: 1.875rem;
    font-weight: 600;
  }
}


.unit-toggle {
  position: relative;

  display: inline-flex;

  height: 2.5rem;
  padding: 4px;
  border: 1px solid var(--glass-border);
  border-radius: var(--radius-pill);

  background-color: var(--glass-bg);
  backdrop-filter: blur(4px);

  &:has(.unit-toggle__input[value="imperial"]:checked) .unit-toggle__bg {
    transform: translateX(100%);
  }

  .unit-toggle__bg {
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;

    aspect-ratio: 1 / 1;
    height: calc(100% - 8px);
    border-radius: 50%;

    background-color: #fff;

    transition: transform 0.3s ease;
  }

  .unit-toggle__label {
    .unit-toggle__text {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      aspect-ratio: 1;
      height: 100%;
      border-radius: 50%;

      font-size: 0.875rem;

      transition: color 0.3s;
    }
  }

  .unit-toggle__input {
    position: absolute;
    appearance: none;

    &:checked+span {
      color: var(--surface-card);
    }
  }
}

@keyframes bloom {
  0% {
    transform: rotate(0deg) scale(1.1);
  }

  50% {
    transform: rotate(180deg) scale(2);
  }

  100% {
    transform: rotate(360deg) scale(1.1);
  }
} */

.container {
  position: relative;
  z-index: 1;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 450px;
  height: 100%;
  padding: 2rem;
  border-radius: 48px;

  color: white;
  text-align: center;

  background-color: var(--surface-card);
  box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.5);

  transition: transform 0.3s ease, background-color 0.8s ease-in-out;

  &::before {
    pointer-events: none;
    content: "";
    user-select: none;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.2;
    background-image: url(/assets/grain.png);
    background-repeat: round;
    background-size: 100px;
    mix-blend-mode: multiply;
  }

  &.isShifted {
    transform: translateX(-50%);
  }
}

.body {
  position: relative;
  width: 100%;


  &::before {
    pointer-events: none;
    content: "";
    user-select: none;

    position: absolute;
    z-index: -1;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 675px;
    height: 100%;
    border-radius: 200vw 200vw 0 0;

    background: linear-gradient(180deg, var(--surface-shape-start), var(--surface-shape-end));

    transition: --surface-shape-start 0.8s ease-in-out, --surface-shape-end 0.8s ease-in-out;
  }
}

.header {
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chevron {
  transition: transform 0.3s ease;
}

.locationPill {
  gap: 0.25rem;
  height: 2.5rem;

  &:hover {
    .chevron {
      transform: translateX(3px);
    }
  }
}

.pillText {
  display: flex;
}

.city {
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.country {
  flex-shrink: 0;
  opacity: 0.7;
}